.nav-wrapper{
    background: rgba(0, 0, 0, 0.1);
    padding: 0.5rem 0;
    position: sticky;
    top: 0;
    z-index: 30;
    backdrop-filter: blur(50px);
}

.nav-content{
    max-width: 1300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
    margin: 0 auto;
}

.nav-content ul{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    list-style: none;
}

.nav-content li{
    margin: 0 1.5rem;
}

.menu-items {
    text-decoration: none;
    font-size: .9rem;
    font-weight: 500;
    position: relative;
    cursor: pointer;
}

.menu-items::before{
    content: " ";
    width: 2rem;
    height: 0.2rem;
    background: linear-gradient(90deg, #ffffff 0%, #26E3ED 100%);
    border-radius: 0.5rem;
    position: absolute;
    bottom: -0.6rem;
    opacity: 0;
    transform: translateX(-1.5rem);
    transition: all 0.3s ease;
}

.menu-items:hover::before{
    width: 100%;
    transform: translateX(0);
    opacity: 1;
}

.contact-btn{
    font-size: 0.9rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #26E3ED;
    background: linear-gradient(90deg, #1bbfc8 0%, #003c3f 100%);
    padding: 0.6rem 2rem;
    border: none;
    outline: 1.5px solid transparent;
    border-radius: 0.2rem;
    cursor: pointer;
    transition: all 0.3s ease;
}

.contact-btn:hover{
    color: #b7fbff;
    background: transparent;
    outline: 2px solid #95faff;
}

.menu-btn{
    width: 2.5rem;
    height: 2.5rem;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 0.4rem;
    color: #fff;
    background-color: transparent;
    cursor: pointer;
    transition: all 0.4s ease;
    display: none;
}

@media (max-width: 425px) {
    .logo{
        width: 10rem;
        height: auto;
    }
}

@media (max-width: 769px) {
    .menu-btn{
        display: block;
    }
    .nav-content ul {
        display: none;
    }
}

@media (max-width: 1325px) {
    .nav-wrapper{
        padding: 0 2rem;
    }
}